/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}



    /* 1. 2 Column Grid 0px - 479px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    49.5%
    Span 2:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0px) and (max-width: 479px) {
        
        .col {
            margin-left:1%;
        	padding:0 2%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1 {
            width:49.5%;
        }
        .span_2 {
            margin-left:0;
            width:100%;
        }
    }

    /* 2. 4 Column Grid 480px - 779px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    24.625%
    Span 2:    49.75%
    Span 3:    74.875%
    Span 4:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 480px) and (max-width: 779px) {
        
        .col {
            margin-left:0.5%;
        	padding:0 5px;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:24.625%;
        }
        .span_2 {
            width:49.75%;
        }
        .span_3 {
            width:74.875%;
        }
        .span_4 {
            margin-left:0;
            width:100%;
        }
    }

    /* 3. 6 Column Grid 780px - 959px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    16.4583333333%
    Span 2:    33.1666666667%
    Span 3:    49.875%
    Span 4:    66.5833333333%
    Span 5:    83.2916666667%
    Span 6:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 780px) and (max-width: 959px) {
        
        .col {
            margin-left:0.25%;
        	padding:0 5px;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:16.4583333333%;
        }
        .span_2 {
            width:33.1666666667%;
        }
        .span_3 {
            width:49.875%;
        }
        .span_4 {
            width:66.5833333333%;
        }
        .span_5 {
            width:83.2916666667%;
        }
        .span_6 {
            margin-left:0;
            width:100%;
        }
    }

    /* 4. 12 Column Grid 960px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    8.10416666667%
    Span 2:    16.4583333333%
    Span 3:    24.8125%
    Span 4:    33.1666666667%
    Span 5:    41.5208333333%
    Span 6:    49.875%
    Span 7:    58.2291666667%
    Span 8:    66.5833333333%
    Span 9:    74.9375%
    Span 10:    83.2916666667%
    Span 11:    91.6458333333%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 960px) {
        
        .col {
            margin-left:0.25%;
        	padding:0 5px;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:8.10416666667%;
        }
        .span_2 {
            width:16.4583333333%;
        }
        .span_3 {
            width:24.8125%;
        }
        .span_4 {
            width:33.1666666667%;
        }
        .span_5 {
            width:41.5208333333%;
        }
        .span_6 {
            width:49.875%;
        }
        .span_7 {
            width:58.2291666667%;
        }
        .span_8 {
            width:66.5833333333%;
        }
        .span_9 {
            width:74.9375%;
        }
        .span_10 {
            width:83.2916666667%;
        }
        .span_11 {
            width:91.6458333333%;
        }
        .span_12 {
            margin-left:0;
            width:100%;
        }
    }

